@use '@logto/experience-sample-toolkit/scss/underscore' as _;

.form {
  @include _.flex-column;
  width: 100%;
  max-width: var(--max-width);

  > * {
    width: 100%;
  }

  .inputField,
  .errorMessage {
    margin-bottom: _.unit(4);
  }

  .errorMessage {
    margin-left: _.unit(0.5);
    margin-top: _.unit(-3);
  }
}
