@use './colors' as colors;
@use './fonts' as fonts;

body {
  @include colors.static;
  @include colors.light;
  @include fonts.default;

  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  color: var(--color-type-primary);
  font: var(--font-body-2);

  --max-width: 400px;
  background: var(--color-bg-float-base);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-underline-offset: 2px;
}

input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar:horizontal {
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
