@use '@logto/experience-sample-toolkit/scss/underscore' as _;

.signature {
  display: flex;
  align-items: center;
  font: var(--font-label-2);
  font-weight: normal;
  color: var(--color-neutral-variant-70);
  padding: _.unit(1) _.unit(2);
  text-decoration: none;
  opacity: 75%;

  .staticIcon {
    display: block;
  }

  .highlightIcon {
    display: none;
  }

  &:hover,
  &:active {
    opacity: 100%;

    .staticIcon {
      display: none;
    }

    .highlightIcon {
      display: block;
    }
  }

  .text {
    margin-right: _.unit(1);
  }
}
