@use '@logto/experience-sample-toolkit/scss/underscore' as _;

.viewBox {
  position: absolute;
  inset: 0;
  overflow: auto;
}

.container {
  min-height: 100%;
  @include _.flex-column(center, center);
  padding: _.unit(5)
}

.main {
  width: 540px;
  min-height: 540px;
  position: relative;
  padding: _.unit(6);
  border-radius: 16px;
  background: var(--color-bg-float);
  box-shadow: var(--color-shadow-2);
  @include _.flex-column(center, center);
}

.signature {
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + _.unit(7)));
    // Have to use padding instead of margin. Overflow margin spacing will be ignored by the browser.
    padding-bottom: _.unit(7);
  }
